@import url('https://v1.fontapi.ir/css/Homa');
@import url('https://v1.fontapi.ir/css/Lalezar');
html
{
    box-sizing: border-box;
    direction: rtl;
}
*,
*::after,
*::before
{
    box-sizing: inherit;
}
header
{
    margin: 0px;
    font-family: Lalezar, sans-serif;
}
main
{
    font-family: Homa, sans-serif;
}
ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a
{
    text-decoration: none;
    color: #fff;
}
.clearfix::after
{
    display: table;
    content: '';
    clear: both;
}
.flex
{
    display: flex;
}
select,input
{
    font-family: inherit;
}
del
{
    color: red;
}
main
{
    background-color: #fff;
}
.hidden
{
    display: none;
}
del
{
    color: rgb(85, 85, 8);
}